body {
    border-top:20px solid #ff0000;
    margin:0px;
}

.container {
    width: 300px;
    box-sizing:border-box;
    padding:0 10px 10px 10px;
    
    h1 {
        color:#000080;
    }
}

.button {
    overflow:hidden;
    
    label {
        float:left;
        margin-top:1px;
        margin-left:2px;
    }
    
    input[type=checkbox] {
        float:left;
    }
    
    input[type=checkbox]:checked {
    }
}